{% extends 'base/base.html' %}
{% load static cache %}

<!-- ================================
    START SEO BLOCKS
================================= -->
{% block page_title %}
{% endblock %}

{% block keywords %}
{% endblock %}

{% block description %}
{% endblock %}

{% block schema %}
{% endblock %}
<!-- ================================
    END SEO BLOCKS AREA
================================= -->

<!-- ================================
    START HEADER SECTION
================================= -->
{% block extend_header %}
{% endblock %}
<!-- ================================
    END HEADER SECTION
================================= -->

<!-- ================================
    START MODAL SECTION
================================= -->
{% block modal %}
{% endblock %}
<!-- ================================
    END MODAL SECTION
================================= -->

<!-- ================================
    START FOOTER SECTION
================================= -->

{% block extend_footer %}
{% endblock %}

<!-- ================================
    END FOOTER SECTION
================================= -->

<!-- ================================
    START CONTENT SECTION
================================= -->
{% block content %}

<section>
    <div class="bannerSection">
        <div class="container">
        <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-auto order-md-last">
            <div class="bannerUserImg">
                <img src="{% static 'images/user-img.jpg' %}" alt="Bobby Stearman">
            </div>
            </div>
            <div class="col-md">
                <div class="bannerContent">
                    <h1 class="xlTitle pb-3">Hi, I’m Bobby, <br> a back-end Developer</h1>
                    <p>I am a seasoned software engineer with a wealth of experience spanning a decade. With a deep-rooted passion for technological advancements, I have dedicated my career to developing cutting-edge solutions. Over the past two years, I have been focused on harnessing the power of the Hedera Network, immersing myself in its intricacies and unlocking its immense potential.</p>
                    <div class="bannerBtnCol">
                    <div class="row">
                        {% comment %} <div class="col-auto">
                        <a download href="javascript:void(0)" class="btn btnPrimary">Download Resume</a>
                        </div> {% endcomment %}
                        <div class="col-auto">
                        <a href="{% url 'core:contact' %}" class="btn btnOutline">Contact</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>

<section>
    <div class="sectionSpace pt-0">
        <div class="container">
        <div class="row">
            <div class="col-md-auto">
            <div class="keySkillCol">
                <h4 class="smTitle pb-3">Key Skills</h4>
                {% for object in skills %}
                <div class="keySkillCard">
                <div class="ksIconCol">
                    {% if forloop.counter == 1 %}
                    <img src="{% static 'images/key-skill-icon-1.svg' %}" alt="...">
                    {% elif forloop.counter == 2 %}
                    <img src="{% static 'images/key-skill-icon-2.svg' %}" alt="...">
                    {% else %}
                    <img src="{% static 'images/key-skill-icon-3.svg' %}" alt="...">
                    {% endif %}
                </div>
                <span class="ksText">{{object.title}}</span>
                </div>
                {% endfor %}
            </div>
            </div>
            <div class="col-md">
            <h4 class="smTitle pb-3">Coding Skills</h4>
            <div class="progressCol">
                <div class="progressCard">
                    {% for object in skills %}
                    <div class="progressCol">
                        <span class="progressLbl">{{object.title}}</span>
                        <div class="row g-2 align-items-center">
                        <div class="col">
                            <div class="progress progressStyle">
                            <div class="progress-bar" role="progressbar" style="width: {{object.score}}%" aria-valuenow="{{object.score}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <span class="pLbl">{{object.score}}%</span>
                        </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>

<section>
<div class="sectionSpaceSm lightBg">
    <div class="container">
    <div class="row pb-3">
        <div class="col">
        <h4 class="smText regular">Certificates</h4>
        </div>
        <div class="col-auto">
        </div>
    </div>
    <div class="sliderOuter">
        <div class="swiper certificatesSlider">
        <div class="swiper-wrapper">
            {% for object in certificates %}
            <div class="swiper-slide">
                <div class="cardStyle1">
                    <h4 class="mdTitle cs1Title">
                    <a href="javascript:void(0)">{{object.title}}</a>
                    </h4>
                    <ul class="cardOptionCol">
                    <li>{{object.created.date}}</li>

                    </ul>
                    <p>{{object.description}}</p>
                </div>
            </div>
            {% endfor%}
        </div>
        </div>            
        <div class="cert-swiper-button-next swiper-button-next swiperBtnStyle"></div>
        <div class="cert-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
        <div class="swiper-pagination swiperPaginationStyle posInitial"></div>
    </div>
    </div>
</div>
</section>

<section>
<div class="sectionSpace">
    <div class="container">
    <div class="portfolioCol">
        <div class="row pb-3">
        <div class="col">
            <h4 class="smText regular">Featured Work</h4>
        </div>
        <div class="col-auto">
            <a href="{% url 'core:portfolio' %}" class="simpleLink">View all</a>
        </div>
        </div>
        {% for object in portfolio %}
        <div class="portfolioCard">
        <div class="row g-4 align-items-center">
            <div class="col-md-auto">
            <div class="portfolioImgCol">
                <a href="{{object.get_absolute_url}}"><img src="{{object.image.url}}" alt="{{object.title}} image"></a>
            </div>
            </div>
            <div class="col-md">
            <div class="portfolioContentCol">
                <ul class="portfolioOption">
                <li><span class="dateLbl">{{object.created}}</span></li>
                </ul>
                <p>{{object.description|safe}}</p>
            </div>
            </div>
        </div>
        </div>
        {% endfor %}
        <div class="portfolioCard">

    </div>
    <div class="testimonialCol">
        <h4 class="smText regular d-block">Testimonials</h4>
        <div class="testimonialSlider">
        <div class="swiper testimonialSwiper">
            <div class="swiper-wrapper">
                {% for object in testimonials %}
                <div class="swiper-slide">
                    <div class="testimonialCard">
                    <div class="row align-items-center">
                        <div class="col-sm-auto">
                        <div class="tImgCol">
                            <img src="{{object.image.url}}" alt="{{object.title}} image">
                        </div>
                        </div>
                        <div class="col-sm">
                        <div class="tContentCol">
                            
                            <p>{{object.title}}</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="test-swiper-button-next swiper-button-next swiperBtnStyle"></div>
            <div class="test-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
        </div>


        </div>
    </div>
    </div>
</div>
</section>

<section>
<div class="sectionSpaceSm lightBg">
    <div class="container">
    <div class="row pb-3">
        <div class="col">
        <h4 class="smText regular">Recent posts</h4>
        </div>
        <div class="col-auto">
        <a href="{% url 'core:blog' %}" class="simpleLink">View all</a>
        </div>
    </div>
    <div class="row g-3">
        {% for object in blogs %}
        {% if forloop.counter <= 2 %}
        <div class="col-lg-6">
        <div class="cardStyle1">
            <h4 class="mdTitle cs1Title"><a href="{{object.get_absolute_url}}">{{object.title}}</a></h4>
            <ul class="cardOptionCol">
            <li>{{object.created}}</li>
            </ul>
            <p>{{object.description|safe}}</p>
        </div>
        </div>
        {% endif %}
        {% endfor %}
        
    </div>
    </div>
</div>
</section>

{% endblock %}
<!-- ================================
    END CONTENT SECTION
================================= -->






