{% extends 'base/base.html' %}
{% load static cache %}

<!-- ================================
    START SEO BLOCKS
================================= -->
{% block page_title %}
{% endblock %}

{% block keywords %}
{% endblock %}

{% block description %}
{% endblock %}

{% block schema %}
{% endblock %}
<!-- ================================
    END SEO BLOCKS AREA
================================= -->

<!-- ================================
    START HEADER SECTION
================================= -->
{% block extend_header %}
{% endblock %}
<!-- ================================
    END HEADER SECTION
================================= -->

<!-- ================================
    START MODAL SECTION
================================= -->
{% block modal %}
{% endblock %}
<!-- ================================
    END MODAL SECTION
================================= -->

<!-- ================================
    START FOOTER SECTION
================================= -->

{% block extend_footer %}
{% endblock %}

<!-- ================================
    END FOOTER SECTION
================================= -->

<!-- ================================
    START CONTENT SECTION
================================= -->
{% block content %}
<section>
    <div class="innerPageBannerCol">
      <div class="container">
        <div class="row g-4 g-md-3  align-items-center">
          <div class="col-md-6">
            <div class="bannerContent">
              <h1 class="xlTitle pb-md-3">Product title</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="sectionSpaceSm">
      <div class="container">
        <div class="row row--50">
          <div class="col-lg-6 mb--40">
              <div class="h-100">
                  <div class="position-sticky sticky-top">
                      <div class="single-product-thumbnail axil-product"> 
                          <div class="thumbnail">
                              <img src="{% static 'images/project-img.jpg' %}" alt="Product Images">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mb--40">
              <h2>Bored Ape Yacht Club</h2>
              <p>$5000.00</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Aenean congue imperdiet lorem ut posuere. Maecenas nec accumsan 
                risus, quis luctus libero. Morbi a nulla ac felis scelerisque 
                feugiat quis vitae turpis. Vivamus nec augue vel enim scelerisque 
                cursus. Curabitur efficitur ipsum quis turpis bibendum egestas. 
                Nunc ac euismod dolor. Vestibulum nec ipsum fermentum, semper 
                quam eu, porttitor elit. Maecenas efficitur ex eget augue euismod 
                semper. Curabitur pharetra tortor vel orci volutpat semper. 
                Donec feugiat mauris ante. In hac habitasse platea dictumst.
              </p>
              <a href="#" class="btn btnPrimary">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
<!-- ================================
    END CONTENT SECTION
================================= -->






