{% extends 'base/base.html' %}
{% load static cache %}

<!-- ================================
    START SEO BLOCKS
================================= -->
{% block page_title %}
{% endblock %}

{% block keywords %}
{% endblock %}

{% block description %}
{% endblock %}

{% block schema %}
{% endblock %}
<!-- ================================
    END SEO BLOCKS AREA
================================= -->

<!-- ================================
    START HEADER SECTION
================================= -->
{% block extend_header %}
{% endblock %}
<!-- ================================
    END HEADER SECTION
================================= -->

<!-- ================================
    START MODAL SECTION
================================= -->
{% block modal %}
{% endblock %}
<!-- ================================
    END MODAL SECTION
================================= -->

<!-- ================================
    START FOOTER SECTION
================================= -->

{% block extend_footer %}
{% endblock %}

<!-- ================================
    END FOOTER SECTION
================================= -->

<!-- ================================
    START CONTENT SECTION
================================= -->
{% block content %}
<section>
    <div class="innerPageBannerCol">
      <div class="container">
        <div class="row g-4 g-md-3  align-items-center">
          <div class="col-md-6">
            <div class="bannerContent">
              <h1 class="xlTitle pb-md-3">Session cancelled</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
      <div class="container">
          <p>Your payment was cancelled</p>
      </div>
  </section>

{% endblock %}
<!-- ================================
    END CONTENT SECTION
================================= -->






