{% load static %}

<footer>
    <div class="footerCol">
        <div class="container">
        <ul class="socialCol">
            <li><a href="{{my_facebook}}" target="_blank"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
            <li><a href="{{my_twitter}}" target="_blank"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
            <li><a href="{{my_linkedin}}" target="_blank"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
            <form id="nlsecurebasicform" action="{{request.path}}" method="POST" accept-charset="utf-8">
                {% csrf_token %}
                {{request.generic_nl_form.nl_email}}
                {{request.generic_nl_form.nl_recaptcha_token}}
                {{request.generic_nl_form.is_generic_nl_form}}
                <input class='btn btnPrimary' type="submit" value="Subscribe">
            </form>
        </div> 
        <div class="copyrightCol">
            <p>Copyright @{% now 'Y'%} All rights reserved. Designed by <a href="https://jamesgrangerdesign.co.uk/" target="_blank">James Granger Design</a></p>
        </div>
        </div>
    </div>
</footer>